

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: auto;
    min-width: 400px;
    max-width: 100px;
    margin: 50px auto;
    background-color: transparent;
    padding: 30px;
    border: 3px solid #959595;
    border-radius: 8px;
    box-shadow: 0px 10px 300px rgba(0, 0, 0, 0.1);
    align-items: left;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group-profile {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  
  }

  .profile-text{
    position: relative;
    text-align: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 5px;
    text-align: left;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:read-only,
  input[type="email"]:read-only,
  input[type="tel"]:read-only {
    background-color: #f9f9f9;
  }
  
  .save-button {
    align-items: center;
    margin: 5px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    font-size: 20px;
    outline: none;
    transition: background-color 0.3s ease;
    width: 28px;
  }

  .edit-button {
    align-items: center;
    margin: 5px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    font-size: 20px;
    outline: none;
    transition: background-color 0.3s ease;
    width: 28px;
    
  }
  
  .edit-button:hover {
    background-color: none;
    cursor:pointer ;
  }

  .save-button:hover {
    background-color: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 20px;
      
    }
  
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      width: 100%;
    }
  }



  