<<<<<<< HEAD
=======
.navbar_component {
  position: static;
  width : 100%;
  flex: 1 1 auto;
  vertical-align: top;
  height: 60px;
  background-color: rgb(137, 255, 202);
  display: flex;
}
.navbar_logo{
    background: url('https://ik.imagekit.io/snruv/css_sprites%20(1).png?updatedAt=1708680194873') no-repeat -82px -17px;
	width: 24px;
	height: 18px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}
.navbar_profile{
    background: url('https://ik.imagekit.io/snruv/css_sprites%20(1).png?updatedAt=1708680194873') no-repeat -130px -13px;
	width: 30px;
	height: 27px;
    display: inline-block;
    vertical-align: top;  
    margin: 17px 30px;
}
.navbar_publications{
    background: url('https://ik.imagekit.io/snruv/css_sprites%20(1).png?updatedAt=1708680194873') no-repeat -64px -81px;
	width: 23px;
	height: 24px;
    display: inline-block;
    vertical-align: top;  
    margin: 17px 30px;
}
.navbar_login{
    background: url('https://ik.imagekit.io/snruv/css_sprites%20(1).png?updatedAt=1708680194873') no-repeat -13px -129px;
	width: 24px;
	height: 28px;
    display: inline-block;
    margin: 20px;
    position: absolute;
    right: 0;
    vertical-align: top;   
}
>>>>>>> 0a21ee34ac06e307ea67be3b59475667e15d90c8
