:root{
    --s: 200px; /* control the size */
    --c1: #414141;
    --c2: #bebebe;
    --c3: #ffffff;
}

.dark-mode {
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  }


.container-design {
    width: 90%;
    height: 90%;
    margin: 20px;
    border: 5px solid var(--c2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;

  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }